<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dls.product.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dls.product.entity.mysql.Product">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="brandId" property="brand_id"/>
        <result column="categoryId" property="category_id"/>
        <result column="comment" property="comment"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, description
    </sql>

    <delete id="delete">
        delete from spu where id = #{productId}
    </delete>

    <update id="update">
        update spu set id =#{id},title=#{title},description=#{description} where id = #{id}
    </update>

    <select id="getByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
        select  id, title, description from spu where title = #{productTitle}
    </select>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select  id, title, description, brand_id, category_id, comment from spu where id = #{productId}
    </select>

    <insert id="add">
        insert into spu (title, description, brand_id, category_id) values(#{title}, #{description}, #{brandId}, #{categoryId});
    </insert>

    <select id="findAll" resultMap="BaseResultMap">
        select  id, title, description, brand_id, category_id, comment from spu
    </select>


</mapper>
